/* Define styles for elements within the 'cwf-modules' layer */
@layer cwf-modules {
  /* Apply styles to elements with the class '.input' */
  .input {
    /* Set margins using custom properties for top, right, bottom, and left */
    margin: var(--input-margin-top, 0) var(--input-margin-right, auto)
      var(--input-margin-bottom, 1ch) var(--input-margin-left, auto);

    /* Set width of the input using custom property */
    width: var(--input-width, 100%);

    /* Base styles for all inputs except <progress> */
    &:not(progress) {
      /* Apply appearance using custom property */
      appearance: var(--input-appearance, auto);
      background-color: var(--input-background-color, white);
      border-color: var(--input-border-color, LightGrey);
      border-radius: var(--input-border-radius, 4px);
      border-style: var(--input-border-style, solid);
      border-width: var(--input-border-width, 1px);
      box-shadow: var(--input-box-shadow, none);
      color: var(--input-color, DimGrey);
      cursor: var(--input-cursor, auto);
      font-weight: var(--input-font-weight, 400);
      height: var(--input-height, auto);
      line-height: var(--input-line-height, 1.15);
      outline: var(--input-outline, 0);
      padding: var(--input-padding-y, 1ch) var(--input-padding-x, 2ch);
      vertical-align: var(--input-vertical-align, initial);
    }

    /* Placeholder text styles */
    &::placeholder {
      color: var(--input-placeholder-color, LightGrey);
    }

    /* Disabled state styles */
    &[disabled] {
      background-color: var(--input-disabled-background-color, WhiteSmoke);
    }

    /* Hover and focus styles for inputs except <output> and when disabled */
    &:not(output):not([disabled]) {
      &:hover {
        border-color: var(--input-hover-border-color, grey);
        color: var(--input-hover-color, DimGrey);
      }

      &:focus-visible,
      &:focus {
        border-color: var(--input-focus-border-color, grey);
        color: var(--input-focus-color, DimGrey);
      }
    }

    /* Focus styles for inputs except [type="range"],  <output> and when disabled */
    &:not([type="range"]):not(output):not([disabled]) {
      &:hover {
        box-shadow: var(--input-hover-box-shadow, none);
      }

      &:focus-visible,
      &:focus {
        box-shadow: var(
          --input-focus-box-shadow,
          0 0 0 0.25em rgba(0, 0, 0, 0.125)
        );
      }
    }

    /* Styles for checkboxes */
    &[type="checkbox"] {
      padding: var(--input-checkbox-padding-y, 1ch)
        var(--input-checkbox-padding-x, 1ch);
    }

    /* Styles for  radio buttons */
    &[type="radio"] {
      padding: var(--input-radio-padding-y, 1ch)
        var(--input-radio-padding-x, 1ch);
      border-radius: var(--input-border-radius, 50%);
    }

    /* Styles for checkboxes and radio buttons */
    &[type="checkbox"],
    &[type="radio"] {
      appearance: var(--input-appearance, none);
      background-size: var(--input-background-size, contain);
      cursor: var(--input-cursor, pointer);
      vertical-align: var(--input-vertical-align, top);
      width: var(--input-width, auto);

      /* Checked state styles */
      &:checked {
        background-color: var(--input-background-color, DimGrey);
      }

      /* Hover state styles */
      &:hover {
        box-shadow: var(--input-hover-box-shadow, none);
      }

      /* Focus state styles */
      &:focus-visible,
      &:focus {
        box-shadow: var(
          --input-focus-box-shadow,
          0 0 0 0.25em rgba(0, 0, 0, 0.125)
        );
      }
    }

    /* Styles specific to checkboxes when checked */
    &[type="checkbox"]:checked {
      background-image: var(
        --input-checkbox-background-image,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
      );
    }

    /* Styles specific to radio buttons when checked */
    &[type="radio"]:checked {
      background-image: var(
        --input-radio-background-image,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
      );
    }

    /* Styles for <select> elements with multiple options */
    &:is(select) {
      &[multiple] {
        padding: var(--input-padding-y, 0) var(--input-padding-x, 0);

        & option {
          padding: var(--option-padding-y, 1ch) var(--option-padding-x, 2ch);
        }
      }
    }

    /* Styles for <progress> elements */
    &:is(progress) {
      appearance: var(--input-appearance, none);
      border-color: var(--input-border-color, LightGrey);
      border-radius: var(--input-border-radius, 10px);
      border-style: var(--input-border-style, solid);
      border-width: var(--input-border-width, 1px);
      background: var(--input-background-color, WhiteSmoke);

      &::-webkit-progress-bar {
        border-radius: var(--input-border-radius, 10px);
        background: var(--input-background-color, WhiteSmoke);
      }

      &::-webkit-progress-value {
        border-radius: var(--input-border-radius, 10px);
        background: var(--input-color, grey);
      }

      &::-moz-progress-bar {
        border-radius: var(--input-border-radius, 10px);
        background: var(--input-color, grey);
      }
    }

    /* Styles for <output> elements */
    &:is(output) {
      display: var(--input-display, block);

      /* Fix for output height */
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        pointer-events: none;
      }
    }
  }

  /* Apply styles to elements with the class '.label' */
  .label {
    /* Set display and margins using custom properties */
    display: var(--label-display, inline-flex);
    color: var(--label-color, DimGrey);
    font-weight: var(--label-font-weight, 400);
    margin: var(--label-margin-top, 0) var(--label-margin-right, auto)
      var(--label-margin-bottom, 0.25ch) var(--label-margin-left, auto);
    width: var(--label-width, 100%);
  }
}
