@layer cwf-modules {
  .input {
    margin: var(--input-margin-top, 0) var(--input-margin-right, 0)
      var(--input-margin-bottom, var(--size-3)) var(--input-margin-left, 0);
    width: var(--input-width, 100%);
    transition: var(--input-transition, all 0.2s ease-in-out);

    &:not(progress) {
      appearance: var(--input-appearance, auto);
      background-color: var(--input-background-color, white);
      border-color: var(--input-border-color, LightGrey);
      border-radius: var(--input-border-radius, 4px);
      border-style: var(--input-border-style, solid);
      border-width: var(--input-border-width, 1px);
      box-shadow: var(--input-box-shadow, none);
      color: var(--input-color, inherit);
      cursor: var(--input-cursor, auto);
      font-weight: var(--input-font-weight, 400);
      height: var(--input-height, auto);
      line-height: var(--input-line-height, 1.15);
      outline: var(--input-outline, 0);
      padding: var(--input-padding-y, var(--size-3))
        var(--input-padding-x, var(--size-5));
      vertical-align: var(--input-vertical-align, initial);
    }

    &::placeholder {
      color: var(--input-placeholder-color, LightGrey);
    }

    &[disabled] {
      background-color: var(--input-disabled-background-color, WhiteSmoke);
    }

    &:not(output):not([disabled]) {
      &:hover {
        border-color: var(--input-hover-border-color, grey);
        color: var(--input-hover-color, inherit);
      }

      &:focus-visible,
      &:focus {
        border-color: var(--input-focus-border-color, grey);
        color: var(--input-focus-color, inherit);
      }
    }

    &:not([type="range"]):not(output):not([disabled]) {
      &:hover {
        box-shadow: var(--input-hover-box-shadow, none);
      }

      &:focus-visible,
      &:focus {
        box-shadow: var(
          --input-focus-box-shadow,
          0 0 0 0.25em rgba(0, 0, 0, 0.125)
        );
      }
    }

    &[type="checkbox"] {
      padding: var(--input-checkbox-padding-y, var(--size-3))
        var(--input-checkbox-padding-x, var(--size-3));
    }

    &[type="radio"] {
      padding: var(--input-radio-padding-y, var(--size-3))
        var(--input-radio-padding-x, var(--size-3));
      border-radius: var(--input-border-radius, 50%);
    }

    &[type="checkbox"],
    &[type="radio"] {
      appearance: var(--input-appearance, none);
      background-size: var(--input-background-size, contain);
      cursor: var(--input-cursor, pointer);
      vertical-align: var(--input-vertical-align, top);
      width: var(--input-width, auto);

      &:checked {
        background-color: var(--input-checked-background-color, DimGrey);

        &[disabled] {
          background-color: var(
            --input-checked-disabled-background-color,
            WhiteSmoke
          );
        }
      }

      &:hover {
        box-shadow: var(--input-hover-box-shadow, none);
      }

      &:focus-visible,
      &:focus {
        box-shadow: var(
          --input-focus-box-shadow,
          0 0 0 0.25em rgba(0, 0, 0, 0.125)
        );
      }
    }

    &[type="checkbox"]:checked {
      background-image: var(
        --input-checkbox-background-image,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
      );
    }

    &[type="radio"]:checked {
      background-image: var(
        --input-radio-background-image,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
      );
    }

    &:is(select) {
      &[multiple] {
        padding: var(--input-padding-y, 0) var(--input-padding-x, 0);

        option {
          padding: var(--option-padding-y, var(--size-3))
            var(--option-padding-x, var(--size-5));
        }
      }
    }

    &:is(progress) {
      appearance: var(--input-appearance, none);
      border-color: var(--input-border-color, LightGrey);
      border-radius: var(--input-border-radius, 10px);
      border-style: var(--input-border-style, solid);
      border-width: var(--input-border-width, 1px);
      background-color: var(--input-background-color, WhiteSmoke);

      &::-webkit-progress-bar {
        border-radius: var(--input-border-radius, 10px);
        background-color: var(--input-background-color, WhiteSmoke);
      }

      &::-webkit-progress-value {
        border-radius: var(--input-border-radius, 10px);
        background-color: var(--input-background-color, grey);
      }

      &::-moz-progress-bar {
        border-radius: var(--input-border-radius, 10px);
        background-color: var(--input-background-color, grey);
      }
    }

    &:is(output) {
      display: var(--input-display, block);

      /* Fix for output height */
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        pointer-events: none;
      }
    }
  }

  .label {
    display: var(--label-display, inline-flex);
    color: var(--label-color, inherit);
    font-weight: var(--label-font-weight, 400);
    margin: var(--label-margin-top, 0) var(--label-margin-right, 0)
      var(--label-margin-bottom, var(--size-1)) var(--label-margin-left, 0);
    width: var(--label-width, 100%);
  }
}
