/* Define styles for elements within the 'cwf-modules' layer */
@layer cwf-modules {
  /* Styling for navigation component */
  .nav {
    /* Flexbox display settings */
    display: var(--nav-display, flex);
    flex-flow: var(--nav-flex-flow, wrap row);
    align-items: var(--nav-align-items, center);
    justify-content: var(--nav-justify-content, flex-start);
    position: var(--nav-position, relative);
    margin: var(--nav-margin-top, 0) var(--nav-margin-right, auto)
      var(--nav-margin-bottom, 1ch) var(--nav-margin-left, auto);
    padding: var(--nav-padding, 0);
    list-style: var(--nav-list-style, none);
    gap: var(--nav-gap, 0);
    border-width: var(--nav-border-width, 0);
    border-style: var(--nav-border-style, solid);
    border-color: var(--nav-border-color, transparent);

    /* Styling for navigation items */
    & .nav__item {
      align-items: var(--nav__item-align-items, center);
      background: var(--nav__item-background, transparent);
      border-color: var(--nav__item-border-color, transparent);
      border-radius: var(--nav__item-border-radius, 0);
      border-style: var(--nav__item-border-style, solid);
      border-width: var(--nav__item-border-width, 0);
      box-shadow: var(--nav__item-box-shadow, none);
      color: var(--nav__item-color, DimGrey);
      cursor: var(--nav__item-cursor, pointer);
      display: var(--nav__item-display, inline-flex);
      font-weight: var(--nav__item-font-weight, 400);
      gap: var(--nav__item-gap, 1ch);
      justify-content: var(--nav__item-justify-content, center);
      line-height: var(--nav__item-line-height, 1.15);
      margin: var(--nav__item-margin, 0);
      outline: var(--nav__item-outline, 0);
      padding: var(--nav__item-padding-y, 1ch) var(--nav__item-padding-x, 2ch);
      text-align: var(--nav__item-text-align, center);
      text-decoration: var(--nav__item-text-decoration, none);
      user-select: var(--nav__item-user-select, none);
      vertical-align: var(--nav__item-vertical-align, middle);
      white-space: var(--nav__item-white-space, nowrap);
      width: var(--nav__item-width, auto);

      /* Hover state styling for navigation items */
      &:hover {
        background: var(--nav__item-hover-background, WhiteSmoke);
        border-color: var(--nav__item-hover-border-color, transparent);
        color: var(--nav__item-hover-color, grey);
        text-decoration: var(--nav__item-hover-text-decoration, none);
      }

      /* Focus state styling for navigation items */
      &:focus-visible,
      &:focus {
        background: var(--nav__item-focus-background, WhiteSmoke);
        border-color: var(--nav__item-focus-border-color, transparent);
        color: var(--nav__item-focus-color, grey);
        text-decoration: var(--nav__item-focus-text-decoration, none);
      }

      /* Active state styling for navigation items */
      &:active,
      &[data-active="true"],
      &.active {
        background: var(--nav__item-active-background, WhiteSmoke);
        border-color: var(--nav__item-active-border-color, transparent);
        color: var(--nav__item-active-color, grey);
        text-decoration: var(--nav__item-active-text-decoration, none);
      }

      &:disabled {
        background: var(--nav__item-disabled-background, transparent);
        border-color: var(--nav__item-disabled-border-color, transparent);
        color: var(--nav__item-disabled-color, LightGrey);
        text-decoration: var(--nav__item-disabled-text-decoration, none);
        pointer-events: var(--nav__item-disabled-pointer-events, none);
      }
    }

    /* Stacked navigation style modifier */
    &.nav--stacked {
      align-items: var(--nav-align-items, stretch);
      flex-flow: var(--nav-flex-flow, wrap column);

      /* Stacked navigation item styles */
      & .nav__item {
        justify-content: var(--nav__item-justify-content, flex-start);
        width: var(--nav__item-width, 100%);
      }
    }

    /* Tab navigation style modifier */
    &.nav--tabs {
      /* Apply border and padding only if not empty */
      &:not(:empty) {
        border-color: var(--nav-border-color, LightGrey);
        border-style: var(--nav-border-style, solid);
        border-width: var(--nav-border-width, 0 0 1px);
        gap: var(--nav-gap, 1ch);
        padding: var(--nav-padding, 0 1ch);
      }

      /* Styling for tab navigation items */
      & .nav__item {
        border-color: var(--nav__item-border-color, LightGrey);
        border-radius: var(--nav__item-border-radius, 4px 4px 0 0);
        border-width: var(--nav__item-border-width, 1px);
        margin: var(--nav__item-margin, 0 0 -1px);

        /* Active state for tab navigation items */
        &:active,
        &[data-active="true"],
        &.active {
          background: var(--nav__item-background, white);
          border-color: var(
            --nav__item-active-border-color,
            LightGrey LightGrey white LightGrey
          );
        }
      }
    }
  }
}
