/* Define styles for elements within the 'cwf-modules' layer */
@layer cwf-modules {
  /* Styling for pill component */
  .pill {
    /* Flexbox display settings */
    align-items: var(--pill-align-items, center);
    display: var(--pill-display, inline-flex);
    justify-content: var(--pill-justify-content, center);

    /* Background and border styles */
    background: var(--pill-background, grey);
    border-color: var(--pill-border-color, grey);
    border-radius: var(--pill-border-radius, 99rem);
    border-style: var(--pill-border-style, solid);
    border-width: var(--pill-border-width, 1px);

    /* Text and font styles */
    color: var(--pill-color, white);
    font-size: var(--pill-font-size, 11px);
    font-weight: var(--pill-font-weight, 400);
    line-height: var(--pill-line-height, 1.15);
    text-align: var(--pill-text-align, center);
    white-space: var(--pill-white-space, nowrap);

    /* Spacing and padding */
    gap: var(--pill-gap, 0.5ch);
    padding: var(--pill-padding-y, 0) var(--pill-padding-x, 0.5ch);
    min-width: var(--pill-min-width, 1rem);
    min-height: var(--pill-min-height, 1rem);

    /* Interaction and usability */
    user-select: var(--pill-user-select, none);
    vertical-align: var(--pill-vertical-align, middle);
  }
}
