/* 
   Define a layer named 'cwf-utilities'.
   This is used to organize CSS rules into logical groups or layers.
*/
@layer cwf-utilities {
  @each $value in row, column, row-reverse, column-reverse {
    .flex-direction--$(value) {
      flex-direction: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .flex-direction--xs-$(value) {
        flex-direction: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .flex-direction--sm-$(value) {
        flex-direction: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .flex-direction--md-$(value) {
        flex-direction: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .flex-direction--rg-$(value) {
        flex-direction: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .flex-direction--lg-$(value) {
        flex-direction: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .flex-direction--xl-$(value) {
        flex-direction: $(value) !important;
      }
    }
  }

  @each $value in wrap, nowrap, wrap-reverse {
    .flex-wrap--$(value) {
      flex-wrap: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .flex-wrap--xs-$(value) {
        flex-wrap: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .flex-wrap--sm-$(value) {
        flex-wrap: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .flex-wrap--md-$(value) {
        flex-wrap: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .flex-wrap--rg-$(value) {
        flex-wrap: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .flex-wrap--lg-$(value) {
        flex-wrap: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .flex-wrap--xl-$(value) {
        flex-wrap: $(value) !important;
      }
    }
  }

  @each $value in flex-start, flex-end, center, space-between, space-around,
    space-evenly
  {
    .justify-content--$(value) {
      justify-content: $(value) !important;
    }

    .justify-self--$(value) {
      justify-self: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .justify-content--xs-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--xs-$(value) {
        justify-self: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .justify-content--sm-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--sm-$(value) {
        justify-self: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .justify-content--md-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--md-$(value) {
        justify-self: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .justify-content--rg-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--rg-$(value) {
        justify-self: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .justify-content--lg-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--lg-$(value) {
        justify-self: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .justify-content--xl-$(value) {
        justify-content: $(value) !important;
      }

      .justify-self--xl-$(value) {
        justify-self: $(value) !important;
      }
    }
  }

  @each $value in flex-start, flex-end, center, space-between, space-around,
    stretch
  {
    .align-content--$(value) {
      align-content: $(value) !important;
    }

    .align-self--$(value) {
      align-self: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .align-content--xs-$(value) {
        align-content: $(value) !important;
      }

      .align-self--xs-$(value) {
        align-self: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .align-content--sm-$(value) {
        align-content: $(value) !important;
      }

      .align-self--sm-$(value) {
        align-self: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .align-content--md-$(value) {
        align-content: $(value) !important;
      }

      .align-self--md-$(value) {
        align-self: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .align-content--rg-$(value) {
        align-content: $(value) !important;
      }

      .align-self--rg-$(value) {
        align-self: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .align-content--lg-$(value) {
        align-content: $(value) !important;
      }

      .align-self--lg-$(value) {
        align-self: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .align-content--xl-$(value) {
        align-content: $(value) !important;
      }

      .align-self--xl-$(value) {
        align-self: $(value) !important;
      }
    }
  }

  @each $value in auto, flex-start, flex-end, center, baseline, stretch {
    .align-items--$(value) {
      align-items: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .align-items--xs-$(value) {
        align-items: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .align-items--sm-$(value) {
        align-items: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .align-items--md-$(value) {
        align-items: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .align-items--rg-$(value) {
        align-items: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .align-items--lg-$(value) {
        align-items: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .align-items--xl-$(value) {
        align-items: $(value) !important;
      }
    }
  }
}
