/* 
   Define a layer named 'cwf-utilities'.
   This is used to organize CSS rules into logical groups or layers.
*/
@layer cwf-utilities {
  @each $value in initial, none, inline, inline-block, block, table-row,
    table-cell, flex, inline-flex, grid
  {
    .display--$(value) {
      display: $(value) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .display--xs-$(value) {
        display: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .display--sm-$(value) {
        display: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .display--md-$(value) {
        display: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .display--rg-$(value) {
        display: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .display--lg-$(value) {
        display: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .display--xl-$(value) {
        display: $(value) !important;
      }
    }
  }
}
