@layer cwf-utilities {
  @each $count, $size in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9),
    (0, 0.25ch, 0.5ch, 0.75ch, 1.5ch, 2ch, 2.5ch, 3ch, 3.5ch, 4ch)
  {
    .gap--$(count) {
      gap: $(size);
    }

    .row-gap--$(count) {
      row-gap: $(size);
    }

    .column-gap--$(count) {
      column-gap: $(size);
    }

    @media (min-width: 320px) {
      .gap--xs-$(count) {
        gap: $(size);
      }

      .row-gap--xs-$(count) {
        row-gap: $(size);
      }

      .column-gap--xs-$(count) {
        column-gap: $(size);
      }
    }

    @media (min-width: 576px) {
      .gap--sm-$(count) {
        gap: $(size);
      }

      .row-gap--sm-$(count) {
        row-gap: $(size);
      }

      .column-gap--sm-$(count) {
        column-gap: $(size);
      }
    }

    @media (min-width: 768px) {
      .gap--md-$(count) {
        gap: $(size);
      }

      .row-gap--md-$(count) {
        row-gap: $(size);
      }

      .column-gap--md-$(count) {
        column-gap: $(size);
      }
    }

    @media (min-width: 1024px) {
      .gap--rg-$(count) {
        gap: $(size);
      }

      .row-gap--rg-$(count) {
        row-gap: $(size);
      }

      .column-gap--rg-$(count) {
        column-gap: $(size);
      }
    }

    @media (min-width: 1216px) {
      .gap--lg-$(count) {
        gap: $(size);
      }

      .row-gap--lg-$(count) {
        row-gap: $(size);
      }

      .column-gap--lg-$(count) {
        column-gap: $(size);
      }
    }

    @media (min-width: 1408px) {
      .gap--xl-$(count) {
        gap: $(size);
      }

      .row-gap--xl-$(count) {
        row-gap: $(size);
      }

      .column-gap--xl-$(count) {
        column-gap: $(size);
      }
    }
  }
}
