/* 
   Define a layer named 'cwf-utilities'.
   This is used to organize CSS rules into logical groups or layers.
*/
@layer cwf-utilities {
  @each $count, $size in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9),
    (0, 0.25ch, 0.5ch, 0.75ch, 1.5ch, 2ch, 2.5ch, 3ch, 3.5ch, 4ch)
  {
    .gap--$(count) {
      gap: $(size) !important;
    }

    .row-gap--$(count) {
      row-gap: $(size) !important;
    }

    .column-gap--$(count) {
      column-gap: $(size) !important;
    }

    @media (min-width: 320px) {
      /* 
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .gap--xs-$(count) {
        gap: $(size) !important;
      }

      .row-gap--xs-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--xs-$(count) {
        column-gap: $(size) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .gap--sm-$(count) {
        gap: $(size) !important;
      }

      .row-gap--sm-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--sm-$(count) {
        column-gap: $(size) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .gap--md-$(count) {
        gap: $(size) !important;
      }

      .row-gap--md-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--md-$(count) {
        column-gap: $(size) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .gap--rg-$(count) {
        gap: $(size) !important;
      }

      .row-gap--rg-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--rg-$(count) {
        column-gap: $(size) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .gap--lg-$(count) {
        gap: $(size) !important;
      }

      .row-gap--lg-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--lg-$(count) {
        column-gap: $(size) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .gap--xl-$(count) {
        gap: $(size) !important;
      }

      .row-gap--xl-$(count) {
        row-gap: $(size) !important;
      }

      .column-gap--xl-$(count) {
        column-gap: $(size) !important;
      }
    }
  }
}
