@layer cwf-utilities {
  .top--auto {
    top: auto;
  }

  .top--100 {
    top: 100%;
  }

  .top--0 {
    top: 0;
  }

  .right--auto {
    right: auto;
  }

  .right--100 {
    right: 100%;
  }

  .right--0 {
    right: 0;
  }

  .bottom--auto {
    bottom: auto;
  }

  .bottom--100 {
    bottom: 100%;
  }

  .bottom--0 {
    bottom: 0;
  }

  .left--auto {
    left: auto;
  }

  .left--100 {
    left: 100%;
  }

  .left--0 {
    left: 0;
  }

  @media (min-width: 320px) {
    .top--xs-auto {
      top: auto;
    }

    .top--xs-100 {
      top: 100%;
    }

    .top--xs-0 {
      top: 0;
    }

    .right--xs-auto {
      right: auto;
    }

    .right--xs-100 {
      right: 100%;
    }

    .right--xs-0 {
      right: 0;
    }

    .bottom--xs-auto {
      bottom: auto;
    }

    .bottom--xs-100 {
      bottom: 100%;
    }

    .bottom--xs-0 {
      bottom: 0;
    }

    .left--xs-auto {
      left: auto;
    }

    .left--xs-100 {
      left: 100%;
    }

    .left--xs-0 {
      left: 0;
    }
  }

  @media (min-width: 576px) {
    .top--sm-auto {
      top: auto;
    }

    .top--sm-100 {
      top: 100%;
    }

    .top--sm-0 {
      top: 0;
    }

    .right--sm-auto {
      right: auto;
    }

    .right--sm-100 {
      right: 100%;
    }

    .right--sm-0 {
      right: 0;
    }

    .bottom--sm-auto {
      bottom: auto;
    }

    .bottom--sm-100 {
      bottom: 100%;
    }

    .bottom--sm-0 {
      bottom: 0;
    }

    .left--sm-auto {
      left: auto;
    }

    .left--sm-100 {
      left: 100%;
    }

    .left--sm-0 {
      left: 0;
    }
  }

  @media (min-width: 768px) {
    .top--md-auto {
      top: auto;
    }

    .top--md-100 {
      top: 100%;
    }

    .top--md-0 {
      top: 0;
    }

    .right--md-auto {
      right: auto;
    }

    .right--md-100 {
      right: 100%;
    }

    .right--md-0 {
      right: 0;
    }

    .bottom--md-auto {
      bottom: auto;
    }

    .bottom--md-100 {
      bottom: 100%;
    }

    .bottom--md-0 {
      bottom: 0;
    }

    .left--md-auto {
      left: auto;
    }

    .left--md-100 {
      left: 100%;
    }

    .left--md-0 {
      left: 0;
    }
  }

  @media (min-width: 1024px) {
    .top--rg-auto {
      top: auto;
    }

    .top--rg-100 {
      top: 100%;
    }

    .top--rg-0 {
      top: 0;
    }

    .right--rg-auto {
      right: auto;
    }

    .right--rg-100 {
      right: 100%;
    }

    .right--rg-0 {
      right: 0;
    }

    .bottom--rg-auto {
      bottom: auto;
    }

    .bottom--rg-100 {
      bottom: 100%;
    }

    .bottom--rg-0 {
      bottom: 0;
    }

    .left--rg-auto {
      left: auto;
    }

    .left--rg-100 {
      left: 100%;
    }

    .left--rg-0 {
      left: 0;
    }
  }

  @media (min-width: 1216px) {
    .top--lg-auto {
      top: auto;
    }

    .top--lg-100 {
      top: 100%;
    }

    .top--lg-0 {
      top: 0;
    }

    .right--lg-auto {
      right: auto;
    }

    .right--lg-100 {
      right: 100%;
    }

    .right--lg-0 {
      right: 0;
    }

    .bottom--lg-auto {
      bottom: auto;
    }

    .bottom--lg-100 {
      bottom: 100%;
    }

    .bottom--lg-0 {
      bottom: 0;
    }

    .left--lg-auto {
      left: auto;
    }

    .left--lg-100 {
      left: 100%;
    }

    .left--lg-0 {
      left: 0;
    }
  }

  @media (min-width: 1408px) {
    .top--xl-auto {
      top: auto;
    }

    .top--xl-100 {
      top: 100%;
    }

    .top--xl-0 {
      top: 0;
    }

    .right--xl-auto {
      right: auto;
    }

    .right--xl-100 {
      right: 100%;
    }

    .right--xl-0 {
      right: 0;
    }

    .bottom--xl-auto {
      bottom: auto;
    }

    .bottom--xl-100 {
      bottom: 100%;
    }

    .bottom--xl-0 {
      bottom: 0;
    }

    .left--xl-auto {
      left: auto;
    }

    .left--xl-100 {
      left: 100%;
    }

    .left--xl-0 {
      left: 0;
    }
  }
}
