@layer cwf-utilities {
  @each $count, $size in (1, 2, 3, 4, 5, 6, 7, 8, 9),
    (0.25ch, 0.5ch, 0.75ch, 1.5ch, 2ch, 2.5ch, 3ch, 3.5ch, 4ch)
  {
    .margin--$(count) {
      margin: $(size);

      &.margin--negative {
        margin: calc($(size) * -1);
      }
    }

    .margin-top--$(count) {
      margin-top: $(size);

      &.margin-top--negative {
        margin-top: calc($(size) * -1);
      }
    }

    .margin-right--$(count) {
      margin-right: $(size);

      &.margin-right--negative {
        margin-right: calc($(size) * -1);
      }
    }

    .margin-bottom--$(count) {
      margin-bottom: $(size);

      &.margin-bottom--negative {
        margin-bottom: calc($(size) * -1);
      }
    }

    .margin-left--$(count) {
      margin-left: $(size);

      &.margin-left--negative {
        margin-left: calc($(size) * -1);
      }
    }

    .margin-y--$(count) {
      margin-top: $(size);
      margin-bottom: $(size);

      &.margin-y--negative {
        margin-top: calc($(size) * -1);
        margin-bottom: calc($(size) * -1);
      }
    }

    .margin-x--$(count) {
      margin-left: $(size);
      margin-right: $(size);

      &.margin-x--negative {
        margin-left: calc($(size) * -1);
        margin-right: calc($(size) * -1);
      }
    }

    @media (min-width: 320px) {
      .margin--xs-$(count) {
        margin: $(size);

        &.margin--xs-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--xs-$(count) {
        margin-top: $(size);

        &.margin-top--xs-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--xs-$(count) {
        margin-right: $(size);

        &.margin-right--xs-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--xs-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--xs-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--xs-$(count) {
        margin-left: $(size);

        &.margin-left--xs-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--xs-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--xs-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--xs-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--xs-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }

    @media (min-width: 576px) {
      .margin--sm-$(count) {
        margin: $(size);

        &.margin--sm-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--sm-$(count) {
        margin-top: $(size);

        &.margin-top--sm-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--sm-$(count) {
        margin-right: $(size);

        &.margin-right--sm-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--sm-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--sm-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--sm-$(count) {
        margin-left: $(size);

        &.margin-left--sm-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--sm-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--sm-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--sm-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--sm-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }

    @media (min-width: 768px) {
      .margin--md-$(count) {
        margin: $(size);

        &.margin--md-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--md-$(count) {
        margin-top: $(size);

        &.margin-top--md-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--md-$(count) {
        margin-right: $(size);

        &.margin-right--md-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--md-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--md-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--md-$(count) {
        margin-left: $(size);

        &.margin-left--md-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--md-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--md-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--md-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--md-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }

    @media (min-width: 1024px) {
      .margin--rg-$(count) {
        margin: $(size);

        &.margin--rg-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--rg-$(count) {
        margin-top: $(size);

        &.margin-top--rg-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--rg-$(count) {
        margin-right: $(size);

        &.margin-right--rg-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--rg-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--rg-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--rg-$(count) {
        margin-left: $(size);

        &.margin-left--rg-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--rg-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--rg-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--rg-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--rg-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }

    @media (min-width: 1216px) {
      .margin--lg-$(count) {
        margin: $(size);

        &.margin--lg-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--lg-$(count) {
        margin-top: $(size);

        &.margin-top--lg-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--lg-$(count) {
        margin-right: $(size);

        &.margin-right--lg-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--lg-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--lg-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--lg-$(count) {
        margin-left: $(size);

        &.margin-left--lg-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--lg-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--lg-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--lg-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--lg-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }

    @media (min-width: 1408px) {
      .margin--xl-$(count) {
        margin: $(size);

        &.margin--xl-negative {
          margin: calc($(size) * -1);
        }
      }

      .margin-top--xl-$(count) {
        margin-top: $(size);

        &.margin-top--xl-negative {
          margin-top: calc($(size) * -1);
        }
      }

      .margin-right--xl-$(count) {
        margin-right: $(size);

        &.margin-right--xl-negative {
          margin-right: calc($(size) * -1);
        }
      }

      .margin-bottom--xl-$(count) {
        margin-bottom: $(size);

        &.margin-bottom--xl-negative {
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-left--xl-$(count) {
        margin-left: $(size);

        &.margin-left--xl-negative {
          margin-left: calc($(size) * -1);
        }
      }

      .margin-y--xl-$(count) {
        margin-top: $(size);
        margin-bottom: $(size);

        &.margin-y--xl-negative {
          margin-top: calc($(size) * -1);
          margin-bottom: calc($(size) * -1);
        }
      }

      .margin-x--xl-$(count) {
        margin-left: $(size);
        margin-right: $(size);

        &.margin-x--xl-negative {
          margin-left: calc($(size) * -1);
          margin-right: calc($(size) * -1);
        }
      }
    }
  }
}
