/* 
   Define a layer named 'cwf-utilities'.
   This is used to organize CSS rules into logical groups or layers.
*/
@layer cwf-utilities {
  .order--first {
    order: -1 !important;
  }

  .order--last {
    order: 99 !important;
  }

  @media (min-width: 320px) {
    /*
       Apply styles for extra small screens and above (>= 320px) using custom classes.
    */
    .order--xs-first {
      order: -1 !important;
    }

    .order--xs-last {
      order: 99 !important;
    }
  }

  @media (min-width: 576px) {
    /* 
       Apply styles for small screens and above (>= 576px) using custom classes.
    */
    .order--sm-first {
      order: -1 !important;
    }

    .order--sm-last {
      order: 99 !important;
    }
  }

  @media (min-width: 768px) {
    /* 
       Apply styles for medium screens and above (>= 768px) using custom classes.
    */
    .order--md-first {
      order: -1 !important;
    }

    .order--md-last {
      order: 99 !important;
    }
  }

  @media (min-width: 1024px) {
    /* 
       Apply styles for regular screens and above (>= 1024px) using custom classes.
    */
    .order--rg-first {
      order: -1 !important;
    }

    .order--rg-last {
      order: 99 !important;
    }
  }

  @media (min-width: 1216px) {
    /* 
       Apply styles for large screens and above (>= 1216px) using custom classes.
    */
    .order--lg-first {
      order: -1 !important;
    }

    .order--lg-last {
      order: 99 !important;
    }
  }

  @media (min-width: 1408px) {
    /* 
       Apply styles for extra large screens and above (>= 1408px) using custom classes.
    */
    .order--xl-first {
      order: -1 !important;
    }

    .order--xl-last {
      order: 99 !important;
    }
  }

  @each $value in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .order--$(value) {
      order: $(value) !important;
    }

    @media (min-width: 320px) {
      /*
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .order--xs-$(value) {
        order: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .order--sm-$(value) {
        order: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .order--md-$(value) {
        order: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .order--rg-$(value) {
        order: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .order--lg-$(value) {
        order: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .order--xl-$(value) {
        order: $(value) !important;
      }
    }
  }
}
