/* 
   Define a layer named 'cwf-utilities'.
   This is used to organize CSS rules into logical groups or layers.
*/
@layer cwf-utilities {
  @each $value in auto, hidden, visible, scroll {
    .overflow--$(value) {
      overflow: $(value) !important;
    }

    .overflow-y--$(value) {
      overflow-y: $(value) !important;
    }

    .overflow-x--$(value) {
      overflow-x: $(value) !important;
    }

    @media (min-width: 320px) {
      /*
         Apply styles for extra small screens and above (>= 320px) using custom classes.
      */
      .overflow--xs-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--xs-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--xs-$(value) {
        overflow-x: $(value) !important;
      }
    }

    @media (min-width: 576px) {
      /* 
         Apply styles for small screens and above (>= 576px) using custom classes.
      */
      .overflow--sm-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--sm-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--sm-$(value) {
        overflow-x: $(value) !important;
      }
    }

    @media (min-width: 768px) {
      /* 
         Apply styles for medium screens and above (>= 768px) using custom classes.
      */
      .overflow--md-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--md-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--md-$(value) {
        overflow-x: $(value) !important;
      }
    }

    @media (min-width: 1024px) {
      /* 
         Apply styles for regular screens and above (>= 1024px) using custom classes.
      */
      .overflow--rg-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--rg-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--rg-$(value) {
        overflow-x: $(value) !important;
      }
    }

    @media (min-width: 1216px) {
      /* 
         Apply styles for large screens and above (>= 1216px) using custom classes.
      */
      .overflow--lg-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--lg-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--lg-$(value) {
        overflow-x: $(value) !important;
      }
    }

    @media (min-width: 1408px) {
      /* 
         Apply styles for extra large screens and above (>= 1408px) using custom classes.
      */
      .overflow--xl-$(value) {
        overflow: $(value) !important;
      }

      .overflow-y--xl-$(value) {
        overflow-y: $(value) !important;
      }

      .overflow-x--xl-$(value) {
        overflow-x: $(value) !important;
      }
    }
  }
}
