@layer cwf-utilities {
  @each $count, $size in (1, 2, 3, 4, 5, 6, 7, 8, 9),
    (0.25ch, 0.5ch, 0.75ch, 1.5ch, 2ch, 2.5ch, 3ch, 3.5ch, 4ch)
  {
    .padding--$(count) {
      padding: $(size);
    }

    .padding-top--$(count) {
      padding-top: $(size);
    }

    .padding-right--$(count) {
      padding-right: $(size);
    }

    .padding-bottom--$(count) {
      padding-bottom: $(size);
    }

    .padding-left--$(count) {
      padding-left: $(size);
    }

    .padding-y--$(count) {
      padding-top: $(size);
      padding-bottom: $(size);
    }

    .padding-x--$(count) {
      padding-left: $(size);
      padding-right: $(size);
    }

    @media (min-width: 320px) {
      .padding--xs-$(count) {
        padding: $(size);
      }

      .padding-top--xs-$(count) {
        padding-top: $(size);
      }

      .padding-right--xs-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--xs-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--xs-$(count) {
        padding-left: $(size);
      }

      .padding-y--xs-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--xs-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }

    @media (min-width: 576px) {
      .padding--sm-$(count) {
        padding: $(size);
      }

      .padding-top--sm-$(count) {
        padding-top: $(size);
      }

      .padding-right--sm-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--sm-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--sm-$(count) {
        padding-left: $(size);
      }

      .padding-y--sm-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--sm-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }

    @media (min-width: 768px) {
      .padding--md-$(count) {
        padding: $(size);
      }

      .padding-top--md-$(count) {
        padding-top: $(size);
      }

      .padding-right--md-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--md-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--md-$(count) {
        padding-left: $(size);
      }

      .padding-y--md-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--md-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }

    @media (min-width: 1024px) {
      .padding--rg-$(count) {
        padding: $(size);
      }

      .padding-top--rg-$(count) {
        padding-top: $(size);
      }

      .padding-right--rg-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--rg-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--rg-$(count) {
        padding-left: $(size);
      }

      .padding-y--rg-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--rg-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }

    @media (min-width: 1216px) {
      .padding--lg-$(count) {
        padding: $(size);
      }

      .padding-top--lg-$(count) {
        padding-top: $(size);
      }

      .padding-right--lg-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--lg-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--lg-$(count) {
        padding-left: $(size);
      }

      .padding-y--lg-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--lg-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }

    @media (min-width: 1408px) {
      .padding--xl-$(count) {
        padding: $(size);
      }

      .padding-top--xl-$(count) {
        padding-top: $(size);
      }

      .padding-right--xl-$(count) {
        padding-right: $(size);
      }

      .padding-bottom--xl-$(count) {
        padding-bottom: $(size);
      }

      .padding-left--xl-$(count) {
        padding-left: $(size);
      }

      .padding-y--xl-$(count) {
        padding-top: $(size);
        padding-bottom: $(size);
      }

      .padding-x--xl-$(count) {
        padding-left: $(size);
        padding-right: $(size);
      }
    }
  }
}
