@layer cwf-utilities {
  .width--auto {
    width: auto;
  }

  .height--auto {
    height: auto;
  }

  .width--100 {
    width: 100%;
  }

  .height--100 {
    height: 100%;
  }

  .width--50 {
    width: 50%;
  }

  .height--50 {
    height: 50%;
  }

  .width--0 {
    width: 0;
  }

  .height--0 {
    height: 0;
  }

  .min-width--100 {
    min-width: 100%;
  }

  .min-height--100 {
    min-height: 100%;
  }

  .max-width--100 {
    max-width: 100%;
  }

  .max-height--100 {
    max-height: 100%;
  }

  .width--100-view {
    width: 100vw;
  }

  .height--100-view {
    height: 100vh;
  }

  .max-width--100-view {
    max-width: 100vw;
  }

  .max-height--100-view {
    max-height: 100vh;
  }

  .min-width--100-view {
    min-width: 100vw;
  }

  .min-height--100-view {
    min-height: 100vh;
  }

  @media (min-width: 320px) {
    .width--xs-auto {
      width: auto;
    }

    .height--xs-auto {
      height: auto;
    }

    .width--xs-100 {
      width: 100%;
    }

    .height--xs-100 {
      height: 100%;
    }

    .width--xs-50 {
      width: 50%;
    }

    .height--xs-50 {
      height: 50%;
    }

    .width--xs-0 {
      width: 0;
    }

    .height--xs-0 {
      height: 0;
    }

    .min-width--xs-100 {
      min-width: 100%;
    }

    .min-height--xs-100 {
      min-height: 100%;
    }

    .max-width--xs-100 {
      max-width: 100%;
    }

    .max-height--xs-100 {
      max-height: 100%;
    }

    .width--xs-100-view {
      width: 100vw;
    }

    .height--xs-100-view {
      height: 100vh;
    }

    .max-width--xs-100-view {
      max-width: 100vw;
    }

    .max-height--xs-100-view {
      max-height: 100vh;
    }

    .min-width--xs-100-view {
      min-width: 100vw;
    }

    .min-height--xs-100-view {
      min-height: 100vh;
    }
  }

  @media (min-width: 576px) {
    .width--sm-auto {
      width: auto;
    }

    .height--sm-auto {
      height: auto;
    }

    .width--sm-100 {
      width: 100%;
    }

    .height--sm-100 {
      height: 100%;
    }

    .width--sm-50 {
      width: 50%;
    }

    .height--sm-50 {
      height: 50%;
    }

    .width--sm-0 {
      width: 0;
    }

    .height--sm-0 {
      height: 0;
    }

    .min-width--sm-100 {
      min-width: 100%;
    }

    .min-height--sm-100 {
      min-height: 100%;
    }

    .max-width--sm-100 {
      max-width: 100%;
    }

    .max-height--sm-100 {
      max-height: 100%;
    }

    .width--sm-100-view {
      width: 100vw;
    }

    .height--sm-100-view {
      height: 100vh;
    }

    .max-width--sm-100-view {
      max-width: 100vw;
    }

    .max-height--sm-100-view {
      max-height: 100vh;
    }

    .min-width--sm-100-view {
      min-width: 100vw;
    }

    .min-height--sm-100-view {
      min-height: 100vh;
    }
  }

  @media (min-width: 768px) {
    .width--md-auto {
      width: auto;
    }

    .height--md-auto {
      height: auto;
    }

    .width--md-100 {
      width: 100%;
    }

    .height--md-100 {
      height: 100%;
    }

    .width--md-50 {
      width: 50%;
    }

    .height--md-50 {
      height: 50%;
    }

    .width--md-0 {
      width: 0;
    }

    .height--md-0 {
      height: 0;
    }

    .min-width--md-100 {
      min-width: 100%;
    }

    .min-height--md-100 {
      min-height: 100%;
    }

    .max-width--md-100 {
      max-width: 100%;
    }

    .max-height--md-100 {
      max-height: 100%;
    }

    .width--md-100-view {
      width: 100vw;
    }

    .height--md-100-view {
      height: 100vh;
    }

    .max-width--md-100-view {
      max-width: 100vw;
    }

    .max-height--md-100-view {
      max-height: 100vh;
    }

    .min-width--md-100-view {
      min-width: 100vw;
    }

    .min-height--md-100-view {
      min-height: 100vh;
    }
  }

  @media (min-width: 1024px) {
    .width--rg-auto {
      width: auto;
    }

    .height--rg-auto {
      height: auto;
    }

    .width--rg-100 {
      width: 100%;
    }

    .height--rg-100 {
      height: 100%;
    }

    .width--rg-50 {
      width: 50%;
    }

    .height--rg-50 {
      height: 50%;
    }

    .width--rg-0 {
      width: 0;
    }

    .height--rg-0 {
      height: 0;
    }

    .min-width--rg-100 {
      min-width: 100%;
    }

    .min-height--rg-100 {
      min-height: 100%;
    }

    .max-width--rg-100 {
      max-width: 100%;
    }

    .max-height--rg-100 {
      max-height: 100%;
    }

    .width--rg-100-view {
      width: 100vw;
    }

    .height--rg-100-view {
      height: 100vh;
    }

    .max-width--rg-100-view {
      max-width: 100vw;
    }

    .max-height--rg-100-view {
      max-height: 100vh;
    }

    .min-width--rg-100-view {
      min-width: 100vw;
    }

    .min-height--rg-100-view {
      min-height: 100vh;
    }
  }

  @media (min-width: 1216px) {
    .width--lg-auto {
      width: auto;
    }

    .height--lg-auto {
      height: auto;
    }

    .width--lg-100 {
      width: 100%;
    }

    .height--lg-100 {
      height: 100%;
    }

    .width--lg-50 {
      width: 50%;
    }

    .height--lg-50 {
      height: 50%;
    }

    .width--lg-0 {
      width: 0;
    }

    .height--lg-0 {
      height: 0;
    }

    .min-width--lg-100 {
      min-width: 100%;
    }

    .min-height--lg-100 {
      min-height: 100%;
    }

    .max-width--lg-100 {
      max-width: 100%;
    }

    .max-height--lg-100 {
      max-height: 100%;
    }

    .width--lg-100-view {
      width: 100vw;
    }

    .height--lg-100-view {
      height: 100vh;
    }

    .max-width--lg-100-view {
      max-width: 100vw;
    }

    .max-height--lg-100-view {
      max-height: 100vh;
    }

    .min-width--lg-100-view {
      min-width: 100vw;
    }

    .min-height--lg-100-view {
      min-height: 100vh;
    }
  }

  @media (min-width: 1408px) {
    .width--xl-auto {
      width: auto;
    }

    .height--xl-auto {
      height: auto;
    }

    .width--xl-100 {
      width: 100%;
    }

    .height--xl-100 {
      height: 100%;
    }

    .width--xl-50 {
      width: 50%;
    }

    .height--xl-50 {
      height: 50%;
    }

    .width--xl-0 {
      width: 0;
    }

    .height--xl-0 {
      height: 0;
    }

    .min-width--xl-100 {
      min-width: 100%;
    }

    .min-height--xl-100 {
      min-height: 100%;
    }

    .max-width--xl-100 {
      max-width: 100%;
    }

    .max-height--xl-100 {
      max-height: 100%;
    }

    .width--xl-100-view {
      width: 100vw;
    }

    .height--xl-100-view {
      height: 100vh;
    }

    .max-width--xl-100-view {
      max-width: 100vw;
    }

    .max-height--xl-100-view {
      max-height: 100vh;
    }

    .min-width--xl-100-view {
      min-width: 100vw;
    }

    .min-height--xl-100-view {
      min-height: 100vh;
    }
  }
}
