:root {
  --breakpoint-smallmobile: 320px;
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-widescreen: 1216px;
  --breakpoint-fullhd: 1408px;
}
