:root {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-rg: 1024px;
  --breakpoint-lg: 1216px;
  --breakpoint-xl: 1408px;

  --size-0: 0;
  --size-1: 0.25ch;
  --size-2: 0.5ch;
  --size-3: 1ch;
  --size-4: 1.5ch;
  --size-5: 2ch;
  --size-6: 2.5ch;
  --size-7: 3ch;
  --size-8: 3.5ch;
  --size-9: 4ch;

  --h1-font-size: clamp(2rem, 1rem + 3vw, 4rem);
  --h2-font-size: clamp(1.75rem, 0.875rem + 2vw, 3rem);
  --h3-font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2.25rem);
  --h4-font-size: clamp(1.25rem, 0.625rem + 1vw, 1.75rem);
  --h5-font-size: clamp(1.125rem, 0.5625rem + 0.5vw, 1.5rem);
  --h6-font-size: clamp(1rem, 0.5rem + 0.25vw, 1.25rem);

  --body-background: white;
  --html-color: DimGray;

  color-scheme: light;
  --color-mode: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }
}

:root[color-scheme="dark"] {
  --body-background: DimGray;
  --html-color: white;
}
