@layer cwf-bases {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: var(--heading-font-family, system-ui);
    font-weight: var(--heading-font-weight, 600);
    line-height: var(--heading-line-height, 1.2);
    letter-spacing: var(--heading-letter-spacing, -0.025em);
    margin-top: var(--heading-margin-top, 0);
    margin-bottom: var(--heading-margin-bottom, 1rem);
  }

  h1,
  .h1 {
    font-size: var(--h1-font-size);
  }

  h2,
  .h2 {
    font-size: var(--h2-font-size);
  }

  h3,
  .h3 {
    font-size: var(--h3-font-size);
  }

  h4,
  .h4 {
    font-size: var(--h4-font-size);
  }

  h5,
  .h5 {
    font-size: var(--h5-font-size);
  }

  h6,
  .h6 {
    font-size: var(--h6-font-size);
  }

  p {
    margin-bottom: var(--paragraph-margin-bottom, var(--size-3));
    margin-top: var(--paragraph-margin-top, 0);
  }

  .truncate {
    overflow: var(--truncate-overflow, hidden);
    text-overflow: var(--truncate-text-overflow, ellipsis);
    white-space: var(--truncate-white-space, nowrap);
  }
}
